---
import { SITE, BLOG } from '~/config.mjs';
import { categoryData } from '~/data.js';
import type { GetStaticPaths } from 'astro';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Pagination from '~/components/blog/Pagination.astro';
import Filter from '~/components/widgets/Filter.astro';

import i18next, { t } from 'i18next';

import { fetchPosts } from '~/utils/blog';
import { CATEGORY_BASE } from '~/utils/permalinks';

export const getStaticPaths = async ({ paginate }) => {
  if (BLOG?.disabled || BLOG?.category?.disabled) return [];

  const posts = await fetchPosts(i18next.language);
  const categories = new Set();
  posts.map((post) => {
    typeof post.category === 'string' && categories.add(post.category.toLowerCase());
  });

  return Array.from(categories).flatMap((category: string) =>
    paginate(
      posts.filter((post) => typeof post.category === 'string' && category === post.category.toLowerCase()),
      {
        params: { category: category, blog: CATEGORY_BASE || undefined },
        pageSize: BLOG.postsPerPage,
        props: { category },
      }
    )
  );
};

const { page, category } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `${t('categories.title')} '${t(`categories.${category.replaceAll('-', ' ')}`)}' ${
    currentPage > 1 ? ` — Page ${currentPage}` : ''
  }`,
  description: t(SITE.description),
  image: `/api/og/category/${category}.png`,
  noindex: BLOG?.category?.noindex,
};
---

<Layout meta={meta}>
  <section class="mx-auto max-w-7xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline left>
      <span class={`text-2xl text-light-purple md:text-3xl`}>blog</span><span
        class={categoryData[category].classes.outline}>/{t(`categories.${category.replaceAll('-', ' ')}`)}</span
      >
    </Headline>
    <div class="grid grid-cols-3 gap-16">
      <div class="col-span-3 md:col-span-2">
        <BlogList posts={page.data} />
      </div>
      <div class="fixed bottom-20 md:relative md:col-span-1">
        <div class="sticky top-28">
          <Filter />
        </div>
      </div>
    </div>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
