---
import { Icon } from 'astro-icon';
import Chip from '~/components/widgets/Chip.astro';

export interface Props {
  blocks: {
    icon?: string;
    title: string;
    span?: string;
    items: {
      type?: string;
      value: string | string[];
      href?: string;
      variant?: 'primary' | 'secondary' | 'dark';
    }[];
  }[];
}

const { blocks } = Astro.props;
---

<div class="m-auto mb-6 grid max-w-5xl grid-cols-3 gap-4 px-4">
  {
    blocks.map((block) => (
      <Fragment>
        <div
          class:list={[
            'col-span-3 row-span-1 rounded-lg border border-transparent bg-white p-4 shadow-lg transition hover:shadow-md dark:border-cherry dark:bg-dark-purple',
            block.span ?? 'md:col-span-1',
          ]}
        >
          <div class="mb-3 flex items-center gap-3">
            {block.icon && (
              <span class="inline-flex h-9 w-9 items-center justify-center rounded-lg bg-light-purple dark:bg-darker-purple dark:text-acid-green">
                <Icon name={block.icon} class="h-6 w-6" />
              </span>
            )}
            <h2 class="inline text-xl font-bold">{block.title}</h2>
          </div>
          <ul>
            {block.items.map(({ type, value, href, variant = 'dark' }) => {
              return (
                <li>
                  <p class="dark:text-light-purple">
                    {type ? `${type}:` : ''}{' '}
                    {value instanceof Array ? (
                      value.map((value) => <Chip value={value} href={href} variant={variant} />)
                    ) : (
                      <Chip value={value} href={href} variant={variant} />
                    )}
                  </p>
                </li>
              );
            })}
          </ul>
        </div>
      </Fragment>
    ))
  }
</div>
