---
import { Icon } from 'astro-icon';
import { SITE } from '~/config.mjs';
import { getHomePermalink } from '~/utils/permalinks';
import i18next, { t } from 'i18next';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800']}>
  <div class="dark:bg-dark pointer-events-none absolute inset-0" aria-hidden="true"></div>
  <div class="relative mx-auto max-w-7xl px-4 dark:text-slate-300 sm:px-6">
    <div class="mb-12 flex flex-col items-center justify-center py-8">
      {
        socialLinks?.length ? (
          <ul class="mb-4 flex">
            {socialLinks.map(({ ariaLabel, href, text, icon }) => (
              <li>
                <a
                  class="inline-flex items-center rounded-lg p-2.5 text-sm text-grape hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-light-purple dark:hover:bg-dark-purple dark:focus:ring-gray-700"
                  aria-label={ariaLabel}
                  href={href}
                >
                  {icon && <Icon name={icon} class="h-6 w-6" />}
                  <Fragment set:html={text} />
                </a>
              </li>
            ))}
          </ul>
        ) : (
          ''
        )
      }
      {
        footNote && (
          <div class="text-center text-sm">
            <Fragment set:html={t(footNote)} />
          </div>
        )
      }
    </div>
  </div>
</footer>
