---
import { Icon } from 'astro-icon';
import { Picture } from 'astro:assets';
import { Image } from 'astro:assets';
import { footerData } from '~/data';

interface CallToAction {
  text: string;
  href: string;
  icon?: string;
}

export interface Props {
  title?: string;
  subtitle?: string;
  callToAction?: string | CallToAction;
  callToAction2?: string | CallToAction;
  image?: string | any; // TODO: find HTMLElementProps
  background?: string | any;
}

const socialLinks = footerData.socialLinks;

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  content = await Astro.slots.render('content'),
  callToAction = await Astro.slots.render('callToAction'),
  callToAction2 = await Astro.slots.render('callToAction2'),
  image = await Astro.slots.render('image'),
  background = await Astro.slots.render('background'),
} = Astro.props;
---

<section class="relative h-auto md:-mt-[110px]">
  <div class="pointer-events-none absolute inset-0" aria-hidden="true">
    {
      background && (
        <div class="relative m-auto h-full overflow-x-hidden" style="clip-path: inset(0);">
          {typeof background === 'string' ? (
            <Fragment set:html={background} />
          ) : (
            <Image
              class="fixed mx-auto h-screen w-auto max-w-none object-cover md:h-3/4"
              widths={[400, 768, 1024, 2040]}
              sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
              aspectRatio={1860 / 661}
              format="svg"
              loading="eager"
              {...background}
            />
          )}
        </div>
      )
    }
  </div>
  <div class="relative mx-auto max-w-7xl px-4 sm:px-6">
    <div class="pointer-events-none pt-0 md:pt-[76px]"></div>
    <div class="grid grid-cols-4 gap-4 py-12 md:py-20">
      <div class="relative col-span-4 m-auto md:col-span-1">
        <div
          class="mx-auto mb-4 h-52 w-52 overflow-hidden rounded-full border-8 border-light-purple bg-gradient-to-br from-pastel-purple from-0% via-50% to-light-purple to-100% shadow-lg dark:border-cherry dark:from-cherry dark:via-dark-purple dark:to-darker-purple md:h-60 md:w-60"
        >
          <Picture
            class="mx-auto w-full rounded-md"
            widths={[400, 768, 1024, 2040]}
            sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
            aspectRatio={1 / 1}
            width={284}
            height={284}
            loading="eager"
            src={import('~/assets/images/profile_picture.png')}
            alt="Profile"
          />
        </div>
        <p
          class="absolute left-0 top-0 w-fit rounded bg-grape px-2 text-white dark:bg-light-purple dark:text-darker-purple"
        >
          Gabriel Gaboardi
        </p>
        <p
          class="absolute bottom-0 right-0 w-fit rounded bg-grape px-2 text-white dark:bg-light-purple dark:text-darker-purple"
        >
          AKA Gabo
        </p>
      </div>
      <div
        class="col-span-4 rounded-xl bg-pastel-purple/70 px-5 py-7 shadow-sm backdrop-blur-sm dark:bg-darker-purple/70 md:col-span-3 md:p-12"
      >
        {
          title && (
            <h1
              class="leading-tighter mb-4 font-heading text-3xl font-bold tracking-tighter dark:text-gray-200 md:text-6xl"
              set:html={title}
            />
          )
        }
        <div class="max-w-3xl">
          {
            subtitle && (
              <p
                class="text-muted mb-6 text-xl tracking-tighter dark:text-light-purple md:tracking-tight"
                set:html={subtitle}
              />
            )
          }
          <div class="flex flex-col flex-nowrap items-center gap-4 sm:flex-row">
            {
              callToAction && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction === 'string' ? (
                    <Fragment set:html={callToAction} />
                  ) : (
                    <a class="btn btn-primary w-full sm:mb-0" href={callToAction?.href} rel="noopener">
                      {callToAction?.icon && (
                        <>
                          <Icon name={callToAction.icon} class="-ml-1.5 mr-2 h-5 w-5" />
                        </>
                      )}
                      {callToAction?.text}
                    </a>
                  )}
                </div>
              )
            }
            {
              callToAction2 && (
                <div class="flex w-full sm:w-auto">
                  {typeof callToAction2 === 'string' ? (
                    <Fragment set:html={callToAction2} />
                  ) : (
                    <a class="btn w-full" href={callToAction2?.href}>
                      {callToAction2?.icon && (
                        <>
                          <Icon name={callToAction2.icon} class="-ml-1.5 mr-2 h-5 w-5" />{' '}
                        </>
                      )}
                      {callToAction2.text}
                    </a>
                  )}
                </div>
              )
            }
            <div>
              {
                socialLinks?.length ? (
                  <ul class="m-auto flex w-fit">
                    {socialLinks.map(({ ariaLabel, href, text, icon }) => (
                      <li>
                        <a
                          class="inline-flex items-center rounded-lg p-2.5 text-sm text-grape hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:text-acid-green dark:hover:bg-dark-purple dark:focus:ring-gray-700"
                          aria-label={ariaLabel}
                          href={href}
                        >
                          {icon && <Icon name={icon} class="h-6 w-6" />}
                          <Fragment set:html={text} />
                        </a>
                      </li>
                    ))}
                  </ul>
                ) : (
                  ''
                )
              }
            </div>
          </div>
        </div>
        {content && <Fragment set:html={content} />}
      </div>
      <div>
        {
          image && (
            <div class="relative m-auto max-w-5xl">
              {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Picture
                  class="mx-auto w-full rounded-md"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  aspectRatio={1024 / 576}
                  loading="eager"
                  width={1024}
                  height={576}
                  {...image}
                />
              )}
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>
