---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';

import { Picture } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import { getAsset, getPermalink } from '~/utils/permalinks';
import ExternalLink from '~/components/blog/content/ExternalLink.astro';
import i18next, { t } from 'i18next';

const meta = {
  title: 'About',
  description: 'The personal website of Gabo.',
};

const topics = [
  {
    title: 'about.topics.foss.title',
    description: 'about.topics.foss.description',
    icon: 'ph:hand-fist-bold',
  },
  {
    title: 'about.topics.ricing.title',
    description: 'about.topics.ricing.description',
    icon: 'mdi:linux',
  },
  {
    title: 'about.topics.webdev.title',
    description: 'about.topics.webdev.description',
    icon: 'ic:round-code',
  },
  {
    title: 'about.topics.content.title',
    description: 'about.topics.content.description',
    icon: 'mdi:web',
  },
];

const skills = [
  {
    title: 'Javascript',
    icon: 'mdi:language-javascript',
  },
  {
    title: 'Typescript',
    icon: 'mdi:language-typescript',
  },
  {
    title: 'HTML',
    icon: 'simple-icons:html5',
  },
  {
    title: 'CSS',
    icon: 'simple-icons:css3',
  },
  {
    title: 'Next.js',
    icon: 'simple-icons:nextdotjs',
  },
  {
    title: 'Tailwind',
    icon: 'simple-icons:tailwindcss',
  },
  {
    title: 'Shell Script',
    icon: 'simple-icons:gnubash',
  },
  {
    title: 'Astro',
    icon: 'simple-icons:astro',
  },
  {
    title: 'Python',
    icon: 'simple-icons:python',
  },
  {
    title: 'Linux',
    icon: 'simple-icons:linux',
  },
];

const links = [
  {
    title: t('about.cv'),
    href: getAsset(`/locales/${i18next.language}/gabriel-gaboardi.pdf`),
    icon: 'mdi:language-javascript',
  },
  {
    title: 'contact@gabo.link',
    href: 'mailto:contact@gabo.link',
    icon: 'mdi:language-javascript',
  },
  {
    title: 'LinkedIn',
    href: 'https://www.linkedin.com/in/gabriel-gaboardi/',
    icon: 'mdi:language-javascript',
  },
  {
    title: 'Github',
    href: 'https://github.com/gbgabo',
    icon: 'mdi:language-javascript',
  },
];
---

<Layout {meta}>
  <Picture
    class="mx-auto w-full max-w-4xl rounded-md"
    widths={[400, 768, 1024, 2040]}
    sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
    aspectRatio={21 / 9}
    width={1120}
    height={480}
    loading="eager"
    src={import('~/assets/images/about.jpg')}
    alt="screenshot"
  />
  <div class="mx-auto max-w-4xl px-6 pt-12 sm:px-6 sm:pt-16 md:pb-10">
    <Headline>{t('about.title')}</Headline>
    <p class="my-8 text-center text-lg">{t('about.subtitle')}</p>
  </div>

  <div class="grid grid-cols-main">
    <div class="col-start-2 col-end-3 px-6">
      <!-- Skills -->
      <section>
        <h2 class="text-lg font-semibold uppercase tracking-wide text-primary dark:text-light-purple">
          {t('about.skillsHeader')}
        </h2>
        <ul class="my-8 grid grid-cols-2 gap-x-3 gap-y-5 md:grid-cols-3">
          {
            skills.map(({ title, icon }) => {
              return (
                <li class="inline-flex items-center">
                  <Icon name={icon} class="icon-light m-2 h-7 w-7 text-darker-purple dark:text-light-purple" />
                  <p class="ml-2">{title}</p>
                </li>
              );
            })
          }
        </ul>
        <ExternalLink class="mb-8" variant="secondary" href="projects">{t('about.skillsCta')}</ExternalLink>
      </section>
      <!-- Topics  -->
      <section>
        <h2 class="text-lg font-semibold uppercase tracking-wide text-primary dark:text-light-purple">
          {t('about.topicsHeader')}
        </h2>
        <ul>
          {
            topics.map(({ title, description, icon }) => (
              <li>
                <div class="my-8 flex flex-row">
                  <div class="mb-4 mr-5">
                    <div class="flex h-12 w-12 items-center justify-center rounded-full bg-primary dark:bg-dark-purple">
                      {icon && <Icon name={icon} class="icon-light h-6 w-6 text-acid-green" />}
                    </div>
                  </div>
                  <div>
                    <h3 class="mb-3 text-xl font-bold">{t(title)}</h3>
                    <p class="text-muted dark:text-slate-400" set:html={t(description)} />
                  </div>
                </div>
              </li>
            ))
          }
        </ul>
        <ExternalLink class="mb-8" variant="secondary" href="blog">{t('about.topicsCta')}</ExternalLink>
      </section>
      <!-- What I Use -->
      <section>
        <h2 id="what-i-use" class="text-lg font-semibold uppercase tracking-wide text-primary dark:text-light-purple">
          {t('about.usesHeader')}
        </h2>
        <div class="my-8 grid items-stretch gap-6 dark:text-white sm:grid-cols-1 md:grid-cols-2">
          <a href={getPermalink('uses')}>
            <div
              class="relative flex h-full flex-col rounded border border-transparent bg-white p-6 shadow-lg transition hover:shadow-md dark:border-cherry dark:bg-dark-purple"
            >
              <div class="flex items-center">
                <Icon name="tabler:app-window" class="h-10 w-10 text-acid-green" />
                <div class="ml-4 text-xl font-bold">{t('about.uses.uses.title')}</div>
              </div>
              <p class="text-muted text-md mt-4 dark:text-gray-400">{t('about.uses.uses.description')}</p>
            </div>
          </a>
          <a href="https://github.com/gbgabo/dotfiles">
            <div
              class="relative flex h-full flex-col rounded border border-transparent bg-white p-6 shadow-lg transition hover:shadow-md dark:border-cherry dark:bg-dark-purple"
            >
              <div class="flex items-center">
                <Icon name="tabler:terminal-2" class="h-10 w-10 text-acid-green" />
                <div class="ml-4 text-xl font-bold">
                  {t('about.uses.dotfiles.title')}<Icon
                    name={'eva:diagonal-arrow-right-up-fill'}
                    class="ml-1 inline h-6 w-6 pb-1"
                  />
                </div>
              </div>
              <p class="text-muted text-md mt-4 dark:text-gray-400">{t('about.uses.dotfiles.description')}</p>
            </div>
          </a>
        </div>
      </section>
      <h2 class="text-base font-semibold uppercase tracking-wide text-primary dark:text-light-purple md:hidden">
        Get in touch!
      </h2>
    </div>
    <aside class="col-start-2 col-end-3 hidden md:col-span-1 md:block">
      <ul class="text-acid-green md:sticky md:top-28 lg:ml-8">
        {
          links.map(({ href, title }) => {
            return (
              <li class="mb-2 mr-2 w-fit rounded-md bg-grape px-2 py-0.5 font-medium lowercase dark:bg-cherry">
                <a class="text-white hover:text-primary dark:text-acid-green dark:hover:text-gray-200" href={href}>
                  {title}
                </a>
              </li>
            );
          })
        }
      </ul>
    </aside>
  </div>
  <ul class="sticky bottom-20 mx-6 my-8 flex flex-row flex-wrap md:top-28 md:hidden">
    {
      links.map(({ href, title }) => {
        return (
          <li class="mb-2 mr-2 inline-block rounded-md bg-grape px-2 py-0.5 font-medium lowercase dark:bg-cherry">
            <a class="text-white hover:text-primary dark:text-acid-green dark:hover:text-gray-200" href={href}>
              {title}
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
