---
import Layout from '~/layouts/PageLayout.astro';
import Headline from '~/components/blog/Headline.astro';
import PostTags from '~/components/blog/Tags.astro';
import ExternalLink from '~/components/blog/content/ExternalLink.astro';

import { Picture } from '@astrojs/image/components';

const projects = [
  {
    image: import('~/assets/images/projects/symbols.png'),
    title: 'Laundry Symbols',
    description:
      "A page that lists most of the so called laundry symbols found on every clothing, indicating the manufacturer's suggestions as to methods of washing, drying, dry-cleaning and ironing clothing.",
    technologies: ['Astro', 'Typescript', 'Tailwind'],
    link: 'https://laundry-symbols.vercel.app/',
  },
  {
    image: import('~/assets/images/projects/wildberries.png'),
    title: 'Wildberries Theme Homepage',
    description: 'Wildberries is a purple dark theme, with additional bright accents, almost in a cyberpunkish way. ',
    technologies: ['Next.js', 'Typescript', '@vercel/og'],
    link: 'https://wildberries.style/',
  },
  {
    title: 'Tinytools',
    description:
      'A suite of tiny scripts I maintain with <a href="https://github.com/Calebe94">@calebe94</a>. Our projects are designed to improve your productivity in a simple way',
    technologies: ['Bash', 'Linux'],
    link: 'https://tinytoolsh.github.io/',
    linkText: 'Veja mais',
  },
  {
    title: 'Linky',
    description:
      'My first react website. A project with the purpose to create a link and style editor inspired by linktree',
    technologies: ['React', 'MUI'],
    link: 'https://linky-gbgabo.vercel.app/edit',
  },
];
---

<Layout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-7xl">
    <Headline>Projects</Headline>

    <ul>
      {
        projects.map((project) => (
          <div class="max-w-md mx-auto md:max-w-none bg-[#240041] rounded-xl mb-4 p-6 grid md:grid-cols-3 gap-6 md:gap-8">
            {project.image && (
              <div class="row-span-3 md:col-span-1 place-self-center">
                <Picture
                  src={project.image}
                  class="md:object-cover w-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                  widths={[400, 1200]}
                  width={400}
                  height={224}
                  sizes="(max-width: 1200px) 400px, 1200px"
                  alt={project.title}
                  loading="lazy"
                  decoding="async"
                />
              </div>
            )}
            <div class={project.image ? 'row-span-2 md:col-span-2' : 'row-span-3 md:col-span-3'}>
              <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
                {project.title}
              </h2>
              {project.description && (
                <p class="flex-grow text-muted dark:text-slate-400 mb-4 text-lg">
                  <Fragment set:html={project.description} />
                </p>
              )}
              <footer class="mt-4">
                <PostTags enableLink={false} tags={project.technologies} />
              </footer>
              {project.link && (
                <ExternalLink class="font-bold mt-4" href={project.link}>
                  {project.linkText ? project.linkText : 'Acesse'}
                </ExternalLink>
              )}
            </div>
          </div>
        ))
      }
    </ul>
  </section>
</Layout>
