---
import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Headline from '~/components/blog/Headline.astro';
import Item from '~/components/blog/ListItem.astro';
import PostTags from '~/components/blog/Tags.astro';

import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';

const projects = [
  {
    image: import('~/assets/images/web.svg'),
    title: 'Laundry Symbols',
    description:
      "A page that lists most of the so called laundry symbols found on every clothing, indicating the manufacturer's suggestions as to methods of washing, drying, dry-cleaning and ironing clothing.",
    technologies: ['Astro', 'Typescript', 'Tailwind'],
    link: 'https://laundry-symbols.vercel.app/',
  },
  {
    image: import('~/assets/images/web.svg'),
    title: 'Wildberries Theme Homepage',
    description: 'Wildberries is a purple dark theme, with additional bright accents, almost in a cyberpunkish way. ',
    technologies: ['Next.js', 'Typescript', '@vercel/og'],
    link: 'https://wildberries.style/',
  },
  {
    title: 'Tinytools',
    description: 'Our projects are designed to improve your productivity in a simple way',
    technologies: ['Bash', 'Linux'],
    link: 'https://tinytoolsh.github.io/',
  },
  {
    title: 'Linky',
    description: 'My first react project',
    technologies: ['React', 'MUI'],
    link: 'https://linky-gbgabo.vercel.app/',
  },
];
---

<Layout>
  <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
    <Headline>Projects</Headline>

    <ul>
      {
        projects.map((project) => (
          <article class={`max-w-md mx-auto md:max-w-none bg-[#240041] rounded-xl mb-4 px-6 py-4 grid gap-6 md:gap-8`}>
            <div class="mt-2">
              <header>
                <Picture
                  src={project.image ? project.image : import('~/assets/images/default.png')}
                  class="md:object-cover w-full md:w-auto md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
                  widths={[400, 900]}
                  width={400}
                  height={224}
                  sizes="(max-width: 900px) 400px, 900px"
                  alt={project.title}
                  aspectRatio="16:9"
                  loading="lazy"
                  decoding="async"
                />
                <h2 class="text-xl sm:text-2xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
                  {project.title}
                </h2>
              </header>
              {project.description && (
                <p class="flex-grow text-muted dark:text-slate-400 mb-4 text-lg">{project.description}</p>
              )}
              <footer class="mt-5">
                <PostTags enableLink={false} tags={project.technologies} />
              </footer>
              {project.link && (
                <a
                  class="capitalize font-bold flex py-2 px-4 pr-3 w-fit rounded-2xl my-2 bg-[#900048] text-[#00ffb7]"
                  href={project.link}
                >
                  <Icon name={'tabler:external-link'} class="w-5 h-5 mr-2" /> Demo
                </a>
              )}
            </div>
          </article>
        ))
      }
    </ul>
  </section>
</Layout>
