---
import { Icon } from 'astro-icon/components';
import { Picture } from 'astro:assets';
import PostTags from '~/components/blog/Tags.astro';

import { BLOG } from '~/config.mjs';
import type { Post } from '~/types';
import { categoryData } from '~/data';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';
import i18next, { t } from 'i18next';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = !BLOG?.post?.disabled ? getPermalink(post.permalink, 'post') : '';
---

<article class:list={['mx-auto grid max-w-md gap-3 md:max-w-none md:gap-8', image ? 'md:grid-cols-2' : '']}>
  {
    image && (
      <a class="group relative block" href={link ?? 'javascript:void(0)'}>
        <div class="relative h-0 overflow-hidden rounded bg-gray-400 pb-[56.25%] shadow-lg dark:bg-slate-700 md:h-72 md:pb-[75%] lg:pb-[56.25%]">
          {image && (
            <Picture
              src={image}
              class="absolute inset-0 mb-6 h-full w-full rounded bg-gray-400 object-cover shadow-lg dark:bg-slate-700"
              widths={[400, 900]}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              loading="lazy"
              decoding="async"
            />
          )}
        </div>
      </a>
    )
  }
  <div class="mt-2">
    <header>
      <div class="mb-1">
        <span class="text-sm">
          {
            post.category && (
              <>
                <a
                  class:list={['capitalize hover:underline', categoryData[post.category].classes.outline]}
                  href={getPermalink(post.category, 'category')}
                >
                  {t(`categories.${post.category}`)}
                </a>
              </>
            )
          }
        </span>
      </div>
      <h2 class="mb-2 font-heading text-xl font-bold leading-tight dark:text-slate-300 sm:text-2xl">
        {
          link ? (
            <a class="transition duration-200 ease-in hover:text-primary dark:hover:text-blue-700" href={link}>
              {post.title}
            </a>
          ) : (
            post.title
          )
        }
      </h2>
    </header>

    {post.excerpt && <p class="text-muted flex-grow text-lg dark:text-slate-400">{post.excerpt}</p>}
    <div class="mt-2 text-sm">
      <Icon name="tabler:clock" class="-mt-0.5 inline-block h-3.5 w-3.5 dark:text-gray-400" />
      <time datetime={String(post.publishDate)}>{getFormattedDate(post.publishDate)}</time>
    </div>
    <footer class="mt-4">
      <PostTags tags={post.tags} />
    </footer>
  </div>
</article>
