---
import { Icon } from 'astro-icon/components';
import i18next, { t } from 'i18next';

export interface Props {
  text: string;
  url: string | URL;
  class?: string;
  label?: boolean;
}

const { text, url, class: className = 'inline-block', label = true } = Astro.props;

const platforms = [
  {
    title: 'Twitter Share',
    slug: 'twitter',
    icon: 'ri:twitter-fill',
  },
  {
    title: 'Facebook Share',
    slug: 'facebook',
    icon: 'ri:facebook-box-fill',
  },
  {
    title: 'Linkedin Share',
    slug: 'linkedin',
    icon: 'ri:linkedin-box-fill',
  },
  {
    title: 'Whatsapp Share',
    slug: 'whatsapp',
    icon: 'ri:whatsapp-fill',
  },
  {
    title: 'Email Share',
    slug: 'mail',
    icon: 'ri:mail-fill',
  },
];
---

<div class={className}>
  {label && <span class="align-super font-bold dark:text-pink">{t('post.share')}</span>}
  <div class="grid grid-cols-4 justify-items-center gap-2 md:grid-cols-5">
    {
      platforms.map(({ title, slug, icon }, index) => (
        <div>
          <button class={`btn p-3`} title={title} data-aw-social-share={slug} data-aw-url={url} data-aw-text={text}>
            <Icon name={icon} class="h-8 w-8 hover:text-black dark:hover:text-slate-300" />
          </button>
        </div>
      ))
    }
  </div>
</div>
