---
import { SITE, BLOG } from '~/config.mjs';

import Layout from '~/layouts/PageLayout.astro';
import BlogList from '~/components/blog/List.astro';
import Pagination from '~/components/blog/Pagination.astro';

import { fetchPosts } from '~/utils/blog';
import { TAG_BASE } from '~/utils/permalinks';
import Headline from '~/components/blog/Headline.astro';
import Chip from '~/components/widgets/Chip.astro';
import i18next from 'i18next';

export async function getStaticPaths({ paginate }) {
  if (BLOG?.disabled || BLOG?.tag?.disabled) return [];

  const posts = await fetchPosts(i18next.language);
  const tags = new Set();
  posts.map((post) => {
    Array.isArray(post.tags) && post.tags.map((tag) => tags.add(tag.toLowerCase()));
  });

  return Array.from(tags).map((tag: string) =>
    paginate(
      posts.filter((post) => Array.isArray(post.tags) && post.tags.find((elem) => elem.toLowerCase() === tag)),
      {
        params: { tag: tag, blog: TAG_BASE || undefined },
        pageSize: BLOG.postsPerPage,
        props: { tag },
      }
    )
  );
}

const { page, tag } = Astro.props;

const currentPage = page.currentPage ?? 1;
const meta = {
  title: `Posts by tag '${tag}'${currentPage > 1 ? ` — Page ${currentPage} ` : ''}`,
  description: SITE.description,
  image: `/api/og/tag/${tag}.png`,
  noindex: BLOG?.tag?.noindex,
};
---

<Layout meta={meta}>
  <section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
    <Headline>Tag: <Chip value={tag} variant="secondary" class="rounded-xl px-4 py-2 text-darker-purple" /></Headline>
    <BlogList posts={page.data} />
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</Layout>
